modules/dsb-kernel-esmanagement/src/main/resources/wsdl/userManagement10.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2011 EBM Websourcing. All rights reserved. This program 
	and the accompanying materials are made available under the terms of the 
	GNU Lesser Public License v2.1 which accompanies this distribution, and is 
	available at http://www.gnu.org/licenses/old-licenses/gpl-2.0.html Contributors: 
	EBM Websourcing - initial API and implementation -->
<wsdl:definitions name="UserManagement"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.petalslink.esstar/service/management/user/1.0"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soa="http://com.petalslink.esstar/soa/model/datatype/1.0"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" 
	xmlns:admin="http://com.petalslink.esstar/admin/model/datatype/1.0"
	xmlns:data="http://com.petalslink.esstar/data/management/user/1.0"
	xmlns:wsn-bw="http://docs.oasis-open.org/wsn/bw-2" xmlns:wstop="http://docs.oasis-open.org/wsn/t-1"
	xmlns:wsn-b="http://docs.oasis-open.org/wsn/b-2" xmlns:wsaw="http://www.w3.org/2006/02/addressing/wsdl"
	xmlns:wsrf-rlw="http://docs.oasis-open.org/wsrf/rlw-2" xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-2"
	xmlns:wsrf-rpw="http://docs.oasis-open.org/wsrf/rpw-2" xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2"
	targetNamespace="http://com.petalslink.esstar/service/management/user/1.0">

	<!-- WS-BaseNotification wsdl -->
	<wsdl:import location="../eventservice/standard/wsn/bw-2.wsdl"
		namespace="http://docs.oasis-open.org/wsn/bw-2" />

	<!-- WS-Resource wsdls' set -->
	<wsdl:import location="../eventservice/standard/wsrf/rw-2.wsdl"
		namespace="http://docs.oasis-open.org/wsrf/rw-2" />

	<wsdl:import location="../eventservice/standard/wsrf/rpw-2.wsdl"
		namespace="http://docs.oasis-open.org/wsrf/rpw-2" />

	<wsdl:types>
		<xsd:schema targetNamespace="http://com.petalslink.esstar/data/management/user/1.0"
			xmlns:tns="http://com.petalslink.esstar/data/management/user/1.0">

			<xsd:import namespace="http://com.petalslink.esstar/admin/model/datatype/1.0"
				schemaLocation="../schema/management10/management10.xsd"></xsd:import>

			<xsd:element name="expose">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceName" type="xsd:QName" />
						<xsd:element name="endpointName" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="exposeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="externalAddress" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>


			<xsd:element name="bind">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="externalAddress" type="xsd:string"></xsd:element>
						<xsd:element ref="admin:wsdl"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bindResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="endpointName" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="proxify">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="externalAddress" type="xsd:string"></xsd:element>
						<xsd:element ref="admin:wsdl"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="proxifyResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="externalAddress" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="deploy">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="artifact" type="admin:DescriptorType" />
						<xsd:element maxOccurs="unbounded" minOccurs="0"
							name="resources" type="admin:LinkedResourceDescriptorType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deployResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="admin:deployementReport" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="userManagementFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="message" type="xsd:string"
							minOccurs="0" maxOccurs="1"></xsd:element>
						<xsd:element name="stacktrace" type="xsd:string"
							minOccurs="0" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="exposeRequest">
		<wsdl:part name="parameters" element="data:expose"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="exposeResponse">
		<wsdl:part name="parameters" element="data:exposeResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="bindRequest">
		<wsdl:part name="parameters" element="data:bind"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="bindResponse">
		<wsdl:part name="parameters" element="data:bindResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="proxifyRequest">
		<wsdl:part name="parameters" element="data:proxify"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="proxifyResponse">
		<wsdl:part name="parameters" element="data:proxifyResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="deployRequest">
		<wsdl:part name="parameters" element="data:deploy"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="deployResponse">
		<wsdl:part name="parameters" element="data:deployResponse"></wsdl:part>
	</wsdl:message>


	<wsdl:message name="userManagementException">
		<wsdl:part name="parameters" element="data:userManagementFault"></wsdl:part>
	</wsdl:message>


	<wsdl:portType name="UserManagement">

		<wsdl:operation name="expose">
			<wsdl:input message="tns:exposeRequest"></wsdl:input>
			<wsdl:output message="tns:exposeResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:userManagementException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="bind">
			<wsdl:input message="tns:bindRequest"></wsdl:input>
			<wsdl:output message="tns:bindResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:userManagementException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="proxify">
			<wsdl:input message="tns:proxifyRequest"></wsdl:input>
			<wsdl:output message="tns:proxifyResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:userManagementException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="deploy">
			<wsdl:input message="tns:deployRequest"></wsdl:input>
			<wsdl:output message="tns:deployResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:userManagementException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="Subscribe">
			<wsdl:input message="wsn-bw:SubscribeRequest"
				wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeRequest" />
			<wsdl:output message="wsn-bw:SubscribeResponse"
				wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationProducer/SubscribeResponse" />
			<wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"
				wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault name="InvalidFilterFault" message="wsn-bw:InvalidFilterFault"
				wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault name="TopicExpressionDialectUnknownFault"
				message="wsn-bw:TopicExpressionDialectUnknownFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault name="InvalidTopicExpressionFault" message="wsn-bw:InvalidTopicExpressionFault"
				wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault name="TopicNotSupportedFault" message="wsn-bw:TopicNotSupportedFault"
				wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault name="InvalidProducerPropertiesExpressionFault"
				message="wsn-bw:InvalidProducerPropertiesExpressionFault"
				wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault name="InvalidMessageContentExpressionFault"
				message="wsn-bw:InvalidMessageContentExpressionFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault name="UnacceptableInitialTerminationTimeFault"
				message="wsn-bw:UnacceptableInitialTerminationTimeFault"
				wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault name="UnrecognizedPolicyRequestFault" message="wsn-bw:UnrecognizedPolicyRequestFault"
				wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault name="UnsupportedPolicyRequestFault" message="wsn-bw:UnsupportedPolicyRequestFault"
				wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault name="NotifyMessageNotSupportedFault" message="wsn-bw:NotifyMessageNotSupportedFault"
				wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault name="SubscribeCreationFailedFault" message="wsn-bw:SubscribeCreationFailedFault"
				wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
		</wsdl:operation>

		<!-- == WS-ResourceProperties specific operations == -->
		<wsdl:operation name="GetResourceProperty">
			<wsdl:input message="wsrf-rpw:GetResourcePropertyRequest"
				name="GetResourcePropertyRequest"
				wsaw:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyRequest" />
			<wsdl:output message="wsrf-rpw:GetResourcePropertyResponse"
				name="GetResourcePropertyResponse"
				wsaw:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyResponse" />
			<wsdl:fault message="wsrf-rpw:InvalidResourcePropertyQNameFault"
				name="InvalidResourcePropertyQNameFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault message="wsrf-rw:ResourceUnknownFault" name="ResourceUnknownFault"
				wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault message="wsrf-rw:ResourceUnavailableFault"
				name="ResourceUnavailableFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
		</wsdl:operation>

		<wsdl:operation name="Unsubscribe">
			<wsdl:input name="UnsubscribeRequest" message="wsn-bw:UnsubscribeRequest"
				wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/UnsubscribeRequest" />
			<wsdl:output name="UnsubscribeResponse" message="wsn-bw:UnsubscribeResponse"
				wsaw:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/UnsubscribeResponse" />
			<wsdl:fault name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"
				wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
			<wsdl:fault name="UnableToDestroySubscriptionFault"
				message="wsn-bw:UnableToDestroySubscriptionFault" wsaw:Action="http://docs.oasis-open.org/wsrf/fault" />
		</wsdl:operation>
		
		<wsdl:operation name="Notify">
			<wsdl:input message="wsn-bw:Notify" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="UserManagementSoapBinding"
		type="tns:UserManagement">


		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="expose">
			<soap:operation
				soapAction="http://com.petalslink.esstar/service/management/user/1.0/expose" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="bind">
			<soap:operation
				soapAction="http://com.petalslink.esstar/service/management/user/1.0/bind" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="proxify">
			<soap:operation
				soapAction="http://com.petalslink.esstar/service/management/user/1.0/proxify" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deploy">
			<soap:operation
				soapAction="http://com.petalslink.esstar/service/management/user/1.0/deploy" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Subscribe">
			<soap:operation
				soapAction="http://com.petalslink.esstar/service/management/user/1.0/Subscribe" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidFilterFault">
				<soap:fault use="literal" name="InvalidFilterFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicExpressionDialectUnknownFault">
				<soap:fault use="literal"
					name="TopicExpressionDialectUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidTopicExpressionFault">
				<soap:fault use="literal"
					name="InvalidTopicExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="TopicNotSupportedFault">
				<soap:fault use="literal" name="TopicNotSupportedFault" />
			</wsdl:fault>
			<wsdl:fault
				name="InvalidProducerPropertiesExpressionFault">
				<soap:fault use="literal"
					name="InvalidProducerPropertiesExpressionFault" />
			</wsdl:fault>
			<wsdl:fault name="InvalidMessageContentExpressionFault">
				<soap:fault use="literal"
					name="InvalidMessageContentExpressionFault" />
			</wsdl:fault>
			<wsdl:fault
				name="UnacceptableInitialTerminationTimeFault">
				<soap:fault use="literal"
					name="UnacceptableInitialTerminationTimeFault" />
			</wsdl:fault>
			<wsdl:fault name="UnrecognizedPolicyRequestFault">
				<soap:fault use="literal"
					name="UnrecognizedPolicyRequestFault" />
			</wsdl:fault>
			<wsdl:fault name="UnsupportedPolicyRequestFault">
				<soap:fault use="literal"
					name="UnsupportedPolicyRequestFault" />
			</wsdl:fault>
			<wsdl:fault name="NotifyMessageNotSupportedFault">
				<soap:fault use="literal"
					name="NotifyMessageNotSupportedFault" />
			</wsdl:fault>
			<wsdl:fault name="SubscribeCreationFailedFault">
				<soap:fault use="literal"
					name="SubscribeCreationFailedFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="GetResourceProperty">
			<soap:operation
				soapAction="http://com.petalslink.esstar/service/management/user/1.0/GetResourceProperty" />
			<wsdl:input name="GetResourcePropertyRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetResourcePropertyResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="InvalidResourcePropertyQNameFault">
				<soap:fault use="literal"
					name="InvalidResourcePropertyQNameFault" />
			</wsdl:fault>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="ResourceUnavailableFault">
				<soap:fault use="literal"
					name="ResourceUnavailableFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Unsubscribe">
			<soap:operation
				soapAction="http://com.petalslink.esstar/service/management/user/1.0/Unsubscribe" />
			<wsdl:input name="UnsubscribeRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="UnsubscribeResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<soap:fault use="literal" name="ResourceUnknownFault" />
			</wsdl:fault>
			<wsdl:fault name="UnableToDestroySubscriptionFault">
				<soap:fault use="literal"
					name="UnableToDestroySubscriptionFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Notify">
			<soap:operation
				soapAction="http://com.petalslink.esstar/service/management/user/1.0/Notify" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UserManagementService">
		<wsdl:port binding="tns:UserManagementSoapBinding" name="UserManagementSOAPEndpoint">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
